
@{
    var cargos = ViewBag.Cargos as List<ProyectoFinal3GestionEmpleado.Models.Cargo>;
    var titulo = ViewData["Titulo"] as string ?? "Lista de Cargos";
}

@model ProyectoFinal3GestionEmpleado.Models.Departamento;

<title>@titulo</title>

<main class="animate__animated animate__fadeIn">
    <header class="container d-flex align-items-center gap-2 justify-content-between">
        <h3><i class="bi bi-person-workspace text-primary"></i> Cargos</h3>
        <a asp-action="Registrar" type="button" class="custom-btn btn btn-sm bg-success text-white"><i class="bi bi-plus-circle-fill"></i> Agregar</a>
    </header>

    @if (TempData["MensajeExito"] != null)
    {
        <div class="alert alert-success text-center my-3 w-75 mx-auto">
            @TempData["MensajeExito"]
        </div>
    }

    @if (cargos == null || !cargos.Any())
    {
        <div class="alert alert-warning text-center my-3 w-75 mx-auto">
            No hay cargos registrados.
        </div>
    }
    else
    {
        <div class="m-3 border rounded-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in cargos)
                    {
                        <tr>
                            <td>@car.Nombre</td>
                            <td class="d-flex align-items-center gap-2">
                                <a asp-action="Editar" asp-route-id="@car.CargoId"
                                   class="btn btn-sm btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>

                                <a asp-action="Eliminar" asp-route-id="@car.CargoId"
                                   class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</main>

